<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main>
  <img
    src="/img/SE-GitHub-image.png"
    alt="Huskie code logo"
    width="100"
    height="100"
  />
  <h1>Display ticket</h1>
  <div id = "barcodeContainer">
    <pre><%- JSON.stringify(student, null, 2) %></pre>
    <pre><%- JSON.stringify(ticket, null, 2) %></pre>
    <svg id = "tbarcode"></svg>
  </div>
</main>
<!-- /Main Site -->
<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.4/dist/JsBarcode.all.min.js"></script>



<script >




JsBarcode("#tbarcode", "<%- ticket.barcode %>");


</script>
<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->